body {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: -0.2px;
}


header{
  color: #fefefe;
}

:root {
  --blanco: #fefefe;
  --color-borde: #cbd2e0;
  --color-rojo: #ff0000;
  --color-texto-secundario: #7d7d7d;
  --azul-secundario: #04384d;
  --fondo-informacion-vivienda: rgba(255, 255, 255, 0.85);
}

.header-text {
  text-align: right;
}

input {
  border: 2px solid var(--color-borde);
  border-radius: 6px;
  font-size: 1rem;
}
